<section class="section section-advantages">
  <div class="container cont-advantages">
    <ul>
      <li>
        <h2 class="number-advantages">01</h2>
        <p class="text-advantages">Swimming and water sports: try your hand at water skiing</p>
      </li>
      <li>
        <h2 class="number-advantages">02</h2>
        <p class="text-advantages">Fishing: try to catch your own dinner</p>
      </li>
      <li>
        <h2 class="number-advantages">03</h2>
        <p class="text-advantages">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
      </li>
      <li>
        <h2 class="number-advantages">04</h2>
        <p class="text-advantages">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
      </li>
    </ul>


  </div>
</section>
