<section class="adv-section">
<div class="advantages-flex-con advantages-section">
    <div class="container advantages-cont">
      <ul class="advantages-flex">
        <li class="advantages-list corrent">
          <h2 class="advantages-number corrent">01</h2>
          <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
        </li>
        <li class="advantages-list corrent">
          <h2 class="advantages-number corrent">02</h2>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-list corrent">
          <h2 class="advantages-number corrent">03</h2>
          <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
        </li>
        <li class="advantages-list corrent">
          <h2 class="advantages-number corrent">04</h2>
          <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
        </li>
      </ul>
    </div>
</div>
    <div class="advantages-img">
      <picture>
        <source srcset="./img/advantages/advantages-big-1x.webp 1x, ../src/img/advantages/advantages-big-2x.webp 2x" media="(min-width: 1440px)" />
        <source srcset="./img/advantages/advantages-desk-1x.webp 1x, ../src/img/advantages/advantages-desk-2x.webp 2x" media="(max-width: 1280px)" />
        <source srcset="./img/advantages/advantages-lap-1x.webp 1x, ../src/img/advantages/advantages-lap-2x.webp 2x" media="(min-width: 768px)" />
        <source srcset="./img/advantages/advantages-mob-1x.webp 1x, ../src/img/advantages/advantages-mob-2x.webp 2x"
          media="(min-width: 375px)" />
        <img src="./img/advantages/advantages-big-1x.jpeg" alt="Advantages" />
      </picture>
  </div>
</section>



