<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <nav>
        <ul class="nav-list">
          <li><a href="#about-us" class="nav-link">About</a></li>
          <li><a href="#our-yachts" class="nav-link">Yachts</a></li>
          <li><a href="#reviews" class="nav-link">Reviews</a></li>
        </ul>
      </nav>
      <ul class="header-soc-list">
        <li class="header-soc-link">
          <a href="https://www.instagram.com/goitclub/" target="_blank" class="header-soc-icon">
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-link">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" class="header-soc-icon">
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-link">
          <a href="https://www.facebook.com/goITclub/ " target="_blank" class="header-soc-icon">
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="header-menu-btn">
        <svg width="28" height="28" class="header-menu-svg">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>