<section class="section section-our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-list">
        <li class="our-yachts-item mobile-vers">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk1-1x.webp 1x, 
            ./img/section-our-yacht/yaht-desk1-1x.webp 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab1-1x.webp 1x, 
            ./img/section-our-yacht/yaht-tab1-2x.webp 2x" 
            media="(min-width: 780px)">
            <source srcset="./img/section-our-yacht/yaht-mob-1x.webp 1x, 
            ./img/section-our-yacht/yaht-mob-2x.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/section-our-yacht/yaht-desk1-1x.webp" 
            alt="yacht1" width="345" height="268">
          </picture>
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">Arrow</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">48m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILDER</h3>
                <p class="our-yachts-options-p">Admiral</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT</h3>
                <p class="our-yachts-options-p">2021</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS</h3>
                <p class="our-yachts-options-p">11 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€33,500,000</p>
              </li>
            </ul>
        </li>
        <li class="our-yachts-item">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk2-1x.webp 1x, 
            ./img/section-our-yacht/yaht-desk2-2x.webp 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab2-1x.webp 1x, 
            ./img/section-our-yacht/yaht-tab2-2x.webp 2x" 
            media="(min-width: 780px)">
            <img src="./img/section-our-yacht/yaht-desk2-1x.webp" 
            alt="yacht2" width="345" height="268">
          </picture>
            <div class="our-yachts-features">
            <h3 class="our-yachts-features-title">BENETTI OASIS 40M BO122</h3>
            <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal "></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">41m (133ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">SHIPYARD</h3>
                <p class="our-yachts-options-p">Benetti</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT</h3>
                <p class="our-yachts-options-p">2025</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS</h3>
                <p class="our-yachts-options-p">10 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€23,210,000</p>
              </li>
            </ul>
        </li>
        <li class="our-yachts-item">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk3-1x.webp 1x,
            ./img/section-our-yacht/yaht-desk3-2x.webp 2x">
            <img src="./img/section-our-yacht/yaht-desk3-1x.webp" 
            alt="yacht3" width="345" height="268">
          </picture>
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">BELLE ANNA</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">50m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">SHIPYARD</h3>
                <p class="our-yachts-options-p">ISA</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT </h3>
                <p class="our-yachts-options-p">2012</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS </h3>
                <p class="our-yachts-options-p">12 in 6 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€21,000,000</p>
              </li>
            </ul>
        </li>
    </ul>
    <button class="button is-secondary" type="button">Yacht rental</button>
  </div>
</section>
