<section id="our-yachts-section" class="section section-our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-list">
        <li class="our-yachts-item">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk1-1x.webp 1x, 
            ./img/section-our-yacht/yaht-desk1-1x.webp 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab1-1x.webp 1x, 
            ./img/section-our-yacht/yaht-tab1-2x.webp 2x" 
            media="(min-width: 780px)">
            <source srcset="./img/section-our-yacht/yaht-mob-1x.webp 1x, 
            ./img/section-our-yacht/yaht-mob-2x.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/section-our-yacht/yaht-mob-1x.webp" 
            alt="yacht1">
          </picture>
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">Arrow</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">48m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILDER</h3>
                <p class="our-yachts-options-p">Admiral</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT</h3>
                <p class="our-yachts-options-p">2021</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS</h3>
                <p class="our-yachts-options-p">11 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€33,500,000</p>
              </li>
            </ul>
        </li>
        <li class="our-yachts-item">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk2-1x.webp 1x, 
            ./img/section-our-yacht/yaht-desk2-2x.webp 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab2-1x.webp 1x, 
            ./img/section-our-yacht/yaht-tab2-2x.webp 2x" 
            media="(min-width: 780px)">
            <img src="./img/section-our-yacht/yaht-tab2-1x.webp" 
            alt="yacht2">
          </picture>
            <div class="our-yachts-features">
            <h3 class="our-yachts-features-title">BENETTI OASIS 40M BO122</h3>
            <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal "></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">41m (133ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">SHIPYARD</h3>
                <p class="our-yachts-options-p">Benetti</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT</h3>
                <p class="our-yachts-options-p">2025</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS</h3>
                <p class="our-yachts-options-p">10 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€23,210,000</p>
              </li>
            </ul>
        </li>
        <li class="our-yachts-item">
          <picture>
            <source srcset="./img/section-our-yacht/yaht-desk3-1x.webp 1x,
            ./img/section-our-yacht/yaht-desk3-2x.webp 2x">
            <img src="./img/section-our-yacht/yaht-desk3-1x.webp" 
            alt="yacht3">
          </picture>
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">BELLE ANNA</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">LENGTH</h3>
                <p class="our-yachts-options-p">50m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">SHIPYARD</h3>
                <p class="our-yachts-options-p">ISA</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">BUILT </h3>
                <p class="our-yachts-options-p">2012</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">GUESTS </h3>
                <p class="our-yachts-options-p">12 in 6 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <h3 class="our-yachts-options-title">PRICE</h3>
                <p class="our-yachts-options-p">€21,000,000</p>
              </li>
            </ul>
        </li>
    </ul>
    <a href="#rent-yacht" class="button is-secondary">Yacht rental</a>
  </div>
</section>

  <div class="modal-menu-window">
    <div>
    <div class="modal-menu-header">
      <a class="modal-menu-logo" href="./index.html">yachtjet</a>
      <svg class="modal-menu-close-svg" width="28" height="28">
        <use href="./img/icons.svg#icon-burger-close"></use>
      </svg>
    </div>
    <nav>
      <ul class="modal-menu-list-nav">
        <li class="modal-menu-item-nav current">
          <a class="modal-menu-link" href="#about-us">About</a></li>
        <li class="modal-menu-item-nav">
          <a class="modal-menu-link" href="#our-yachts-section">Yachts</a></li>
        <li class="modal-menu-item-nav">
          <a class="modal-menu-link" href="#reviews">Reviews</a></li>
      </ul>
    </nav>
  </div>
    <ul class="modal-menu-social-list">
      <li class="modal-menu-social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="modal-menu-social-svg">
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
      </li>
      <li class="modal-menu-social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="modal-menu-social-svg">
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
      </li>
      <li class="modal-menu-social-item">
        <a href=" https://www.facebook.com/goITclub/" target="_blank" class="modal-menu-social-svg">
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
      </li>
    </ul>
  </div>
