<section class="section section-our-yachts">
  <div class="container">
    <h2 class="title-yachts">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="yacht-list">
        <li class="li-yacht-list">
          <picture>
            <source srcset="./img/section-our-yacht/our-yacht1.jpg 1x, 
            ./img/section-our-yacht/our-yacht1-x2.jpg 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab-x1-1.jpg 1x, 
            ./img/section-our-yacht/yaht-tabletx2-1.jpg 2x" 
            media="(min-width: 780px)">
            <source srcset="./img/section-our-yacht/yaht-mob-x1.jpg 1x, 
            ./img/section-our-yacht/yaht-mobx2.jpg 2x" 
            media="(min-width: 320px)">
            <img src="./img/section-our-yacht/our-yacht1.jpg" 
            alt="yacht1" width="345" height="268">
          </picture>
            <div class="features-yachts">
              <h3 class="features-yachts-title">Arrow</h3>
              <p class="features-yachts-p">LUXURY YAHTS</p>
            </div>
            <div class="yacht-line-horozontal"></div>
            <ul class="price-yacht-list">
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">LENGTH</h3>
                <p class="options-p-yacht">48m(155ft)</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">BUILDER</h3>
                <p class="options-p-yacht">Admiral</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">BUILT</h3>
                <p class="options-p-yacht">2021</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">GUESTS</h3>
                <p class="options-p-yacht">11 in 5 cabins</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">PRICE</h3>
                <p class="options-p-yacht">€33,500,000</p>
              </li>
            </ul>
        </li>
        <li class="li-yacht-list">
          <picture>
            <source srcset="./img/section-our-yacht/our-yacht2.jpg 1x, 
            ./img/section-our-yacht/yah2-x2.jpg 2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/section-our-yacht/yaht-tab-x1-2.jpg 1x, 
            ./img/section-our-yacht/yaht-tabletx2-2.jpg 2x" 
            media="(min-width: 780px)">
            <img src="./img/section-our-yacht/our-yacht2.jpg" 
            alt="yacht2" width="345" height="268">
          </picture>
            <div class="features-yachts">
            <h3 class="features-yachts-title">BENETTI OASIS 40M BO122</h3>
            <p class="features-yachts-p">LUXURY YAHTS</p>
            </div>
            <div class="yacht-line-horozontal"></div>
            <ul class="price-yacht-list">
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">LENGTH</h3>
                <p class="options-p-yacht">41m (133ft)</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">SHIPYARD</h3>
                <p class="options-p-yacht">Benetti</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">BUILT</h3>
                <p class="options-p-yacht">2025</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">GUESTS</h3>
                <p class="options-p-yacht">10 in 5 cabins</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">PRICE</h3>
                <p class="options-p-yacht">€23,210,000</p>
              </li>
            </ul>
        </li>
        <li class="li-yacht-list">
          <picture>
            <source srcset="./img/section-our-yacht/our-yacht3.jpg 1x,
            ./img/section-our-yacht/yaht3-x2.jpg 2x">
            <img src="./img/section-our-yacht/our-yacht3.jpg" 
            alt="yacht3" width="345" height="268">
          </picture>
            <div class="features-yachts">
              <h3 class="features-yachts-title">BELLE ANNA</h3>
              <p class="features-yachts-p">LUXURY YAHTS</p>
            </div>
            <div class="yacht-line-horozontal"></div>
            <ul class="price-yacht-list">
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">LENGTH</h3>
                <p class="options-p-yacht">50m(155ft)</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">SHIPYARD</h3>
                <p class="options-p-yacht">ISA</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">BUILT </h3>
                <p class="options-p-yacht">2012</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">GUESTS </h3>
                <p class="options-p-yacht">12 in 6 cabins</p>
              </li>
              <li class="price-yacht-item">
                <h3 class="options-yacht-title">PRICE</h3>
                <p class="options-p-yacht">€21,000,000</p>
              </li>
            </ul>
        </li>
    </ul>
    <button class="button is-secondary" type="button">Yacht rental</button>
  </div>
</section>
