<section class="section section-rent">
  <div class="container">
    <h2 class="title">Rent a yacht now</h2>
    <picture>
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-1x.jpg 1x,
          ./img/Rent-yacht/Rent-yacht-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-1x-mob.jpg 1x,
          ./img/Rent-yacht/Rent-yacht-2x-mob.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-tab-1x.jpg 1x,
          ./img/Rent-yacht/Rent-yacht-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="section-rent-img"
        src="./img/Rent-yacht/Rent-yacht.jpg"
        alt="Rent yacht"
        width="784"
      />
    </picture>
    <div class="form-rent-container">
      <form class="form-rent">
        <div class="forma-field">
          <label for="user-name" class="label-forma"></label>
          <div class="forma-input-wpap">
            <input
              type="text"
              pattern="[A-Za-z]+"
              name="user-name"
              placeholder="Full Name"
              id="user-name"
              class="rent-input"
            />
          </div>
        </div>
        <div class="forma-field">
          <label for="user-email" class="label-forma"></label>
          <div class="forma-input-wpap">
            <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              name="user-email"
              placeholder="Email"
              class="rent-input"
              id="user-email"
            />
          </div>
        </div>
        <div class="forma-field">
          <label for="user-phone" class="label-forma"></label>
          <div class="forma-input-wpap">
            <input
              type="tel"
              pattern="\+380\d{9}"
              name="user-phone"
              placeholder="Phone number"
              class="rent-input"
              id="user-phone"
            />
          </div>
        </div>
        <div class="forma-field">
          <label for="user-comment" class="label-forma"></label>
          <div class="forma-input-wpap">
            <!-- placeholder not visible -->
            <textarea
              name="user-comment"
              placeholder="Comment"
              id="user-comment"
              class="forma-text"
            >
            </textarea>
          </div>
        </div>

        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
