<section class="section section-rent">
  <div class="container section-desktop">
    <h2 class="title">Rent a yacht now</h2>
    <div class="form-rent-container">
      <form class="form-rent">
        <label for="user-name" class="label-forma">
          <input
            type="text"
            name="user-name"
            placeholder="Full Name"
            id="user-name"
            class="rent-input"
          />
        </label>

        <label for="user-email" class="label-forma">
          <input
            type="email"
            name="user-email"
            placeholder="Email"
            class="rent-input"
            id="user-email"
          />
        </label>

        <label for="user-phone" class="label-forma">
          <input
            type="tel"
            name="user-phone"
            placeholder="Phone number"
            class="rent-input"
            id="user-phone"
          />
        </label>

        <label for="user-comment" class="label-forma">
          <textarea
            name="user-comment"
            placeholder="Comment"
            id="user-comment"
            class="forma-text"
          >
          </textarea>
        </label>

        <button class="button-rent" type="submit">Send</button>
      </form>
    </div>
    <picture>
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-1x.webp 1x,
          ./img/Rent-yacht/Rent-yacht-2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-1x-mob.webp 1x,
          ./img/Rent-yacht/Rent-yacht-2x-mob.webp 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./img/Rent-yacht/Rent-yacht-tab-1x.webp 1x,
          ./img/Rent-yacht/Rent-yacht-tab-2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="section-rent-img"
        src="./img/Rent-yacht/Rent-yacht-1x-mob.webp"
        alt="Rent yacht"
      />
    </picture>
  </div>
</section>
