
.container {
    padding: 16px 0;
}

.section-advantages {
    display: flex;
    flex-direction: column;
   
}

.advantages-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
    /* max-width: 335px; */
    flex-wrap: nowrap;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #1b414b;
}

.advantages-list-item {
    padding: 8px;
}

.advantages-number {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
}

.advantages-line {
    width: 100%;
    height: 2px;
    background-color: rgba(250, 250, 250, 0.1);
    margin-top: 18px;
    margin-bottom: 18px;
}

.advantages-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}

.advantages-img img {
    border-radius: 24px;
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    .section-advantages {
    max-width: 768px;
    }
    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* width: calc((100% - 12px) / 2); */
        align-items: center;
    }
    .advantages-list-item {
        padding: 8px;
        max-width: 304px;
    }
}

@media screen and (min-width: 1280px) {
    .section-advantages {
        max-width: 1280px;
        display: flex;
        flex-direction: row;                
    }

    .advantages-cont {
        display: flex;
        flex-direction: row;
        gap: 32px;            
    }

    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc((100% - 12px) / 2);
        align-items: center;
        height: 424px;
        border-radius: 24px;
        

    }
    .advantages-list-item {  
        width: 716px;      
        height: 100px;
        padding: 8px;
        width: calc((100% - 16px) / 3);
        margin: 24px;
    }


}

@media screen and (min-width: 1440px) {
    .section-advantages {
        max-width: 1440px;
    }
    .advantages-list {
        width: 768px;



    }
    .advantages-list-item {
        width: 716px;
        height: 100px;
        padding: 8px;
        width: calc((100% - 16px) / 3);
        margin: 24px;
    }
    
}
