
.container {
    padding: 16px 0;
}

.advantages-cont {
    display: flex;
    flex-direction: column;
    background: #1b414b;
    border-radius: 24px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages-list-item {
    padding: 8px;
}

.advantages-number {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
}

.advantages-line {
    width: 100%;
    height: 2px;
    background-color: rgba(250, 250, 250, 0.1);
    margin-top: 18px;
    margin-bottom: 18px;
}

.advantages-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}

.advantages-img img {
    border-radius: 24px;
    overflow: hidden;
}