/* .section {}

.section-advantages {
    background: #1b414b;
    border-radius: 24px;
    width: 335px;
    height: 642px;
    max-width: 375px;
}

.container {
    padding: 16px 0;
}

.advantages-cont {
    background: #1b414b;
    border-radius: 24px;
    width: 335px;
    height: 642px;
    border-top: 48px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    max-width: 295px;
    height: 80px;
    gap: 24px;
    }


.advantages-list-item {}

.advantages-number {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
}

.advantages-line {
    width: 100%;
    height: 2px;
    background-color: rgba(250, 250, 250, 0.1);
}

.advantages-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}

.advantages-img {
    position: relative;
    overflow: hidden;
} */