.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: start;
  margin-bottom: 40px;
}
.rent-img {
  border-radius: 24px;
  width: 100%;
}
.rent-blok {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.rent-input {
  margin-bottom: 18px;
}

.rent-label-forma {
  display: flex;
}

.rent-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  background-color: transparent;
}
.rent-input:hover {
  color: #fbfbfb;
}
.rent-forma-text {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  padding-top: 18px;
  width: 100%;
  height: 108px;
  background-color: transparent;
}

.rent-input::placeholder,
.rent-forma-text::placeholder {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(251, 251, 251, 0.4);
}
.rent-form .button {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .rent-form-container {
    width: 473px;
    margin: 0 auto;
  }
  .rent-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1;
  }
  .rent-blok {
    gap: 100px;
  }
  .rent-input {
    height: 54px;
  }
  .rent-input::placeholder {
    font-size: 14px;
  }
  .rent-forma-text::placeholder {
    font-size: 14px;
  }
  .rent-button {
    margin-top: 50px;

    min-width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 0.06;
  }

  .rent-img {
    width: 784px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .rent-img {
    width: 658px;
  }
  .rent-title {
    text-align: left;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1;
  }
  .rent-blok {
    flex-direction: row-reverse;
    gap: none;
  }
  .rent-input::placeholder,
  .rent-forma-text::placeholder {
    font-size: 14px;
  }
  .rent-forma-text {
    height: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .rent-img {
    width: 768px;
  }
}
