.reviews-title {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  margin-bottom: 24px;
}
.reviews-par {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  opacity: 0.4;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 24px;

  align-items: center;
  justify-content: center;
}
.reviews-list-item {
  border-radius: 24px;
  padding: 32px 8px;
  background: #fbfbfb;

  max-width: 392px;
}
.reviews-list-item:not(:first-child) {
  display: none;
}
.reviews-list-img {
  margin: 0 auto 24px;
}
.reviews-list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;

  margin-bottom: 6px;
}
.reviews-list-par {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
  }
  .reviews-par {
    padding: 0 100px;
    font-size: 14px;
  }
  .reviews-list {
    gap: 32px;
  }
  .reviews-list-item:not(:last-child) {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-title {
    padding: 0 212px;
  }
  .reviews-par {
    padding: 0 354px;
  }
  .reviews-list {
    gap: 26px;
  }
  .reviews-list-item:last-child {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-title {
    padding: 0 294px;
  }
  .reviews-par {
    padding: 0 434px;
  }
  .reviews-list {
    gap: 32px;
  }
}
